* {
  font-family: 'League Gothic', sans-serif;
  color: #aeaeae;
}

.noticia {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 10px;

  background-color: #f6f4ee;
}

.image {
  width: 470px;

  height: 270px;
  border-radius: 10px;
}

.noticia:nth-child(even) {
  flex-direction: row-reverse;
}

.categoria {
  flex: 0;
  margin-left: 20px;
  text-transform: uppercase;
}

.titulo {
  margin-top: 10px;
  font-size: 50px;
  color: gray;
}

.leadIn,
.autor,
.fecha {
  margin: 0;
}

.leadIn {
  font-size: 25px;
  margin: 10px;
}

.autor,
.fecha {
  font-size: 15px;
}

.contenido {
  margin-left: 2vw;
  margin-right: 2vw;
  min-width: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 970px) {
  .image {
    width: 400px;
    height: 270px;
  }

  .titulo {
    font-size: 2.8rem;
  }

  .leadIn {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 820px) {
  .image {
    width: 430px;
    height: 220px;

    margin-right: 0;
  }

  .noticia {
    flex-direction: column;
    align-items: center;
  }

  .noticia:nth-child(even) {
    flex-direction: column;
  }

  .titulo {
    font-size: 2.5rem;
  }

  .leadIn {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .image {
    width: 400px;
    height: 220px;
  }

  .noticia {
    flex-direction: column;
  }

  .noticia:nth-child(even) {
    flex-direction: column;
  }

  .titulo {
    font-size: 2.2rem;
  }

  .leadIn {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: 330px;
    height: 200px;
  }

  .noticia {
    flex-direction: column;
  }

  .noticia:nth-child(even) {
    flex-direction: column;
  }

  .titulo {
    font-size: 1.9rem;
  }

  .leadIn {
    font-size: 1.3rem;
  }
}
