.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(247, 244, 239);
  height: 80px;
}

.header-container div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
}

.login-link {
  font-size: 15px;
}

.header-container a {
  font-family: 'League Gothic', sans-serif;

  text-decoration: none;
  font-weight: 400;
  color: black;
  opacity: 0.6;
  margin-right: 20px;
}

.header-container a.active {
  font-weight: 500;
  opacity: 1;
}

.header-container span {
  font-family: 'League Gothic', sans-serif;

  font-size: 1rem;
  margin-right: 3px;
  margin-bottom: 0;
  color: white;
}

.header-container button {
  width: 100px;

  transition: filter 0.3s ease;
}

.header-container .user-actions {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 90px;
  height: 50px;

  object-fit: cover;
  margin-left: 15px;
  margin-bottom: 10px;
}

.avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  margin-top: 8px;
}

.logout button {
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .header-container img {
    width: 65px;
    height: 40px;
    margin-left: 5px;
  }

  .avatar img {
    width: 55px;
    height: 55px;
    margin-top: auto;
    margin-right: 5px;
  }

  .header-container button {
    width: 80px;
  }

  .header-container span {
    font-size: 14px;
  }
  .login-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .header-container img {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .avatar img {
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-right: 0px;
  }

  .header-container button {
    width: 72px;
  }

  .header-container span {
    font-size: 15px;
  }

  .header-container a {
    margin-right: auto;
    font-size: 15px;
  }
}
