.avatarContainer h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

img.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.userForm li {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
