.current-photo {
  width: 30vw;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.category {
  width: 150px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
