* {
  font-family: 'League Gothic', sans-serif;
}

.single-carousel-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.single-news-container {
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 565px;
  height: 250px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-news-container h3,
.single-news-container p {
  position: relative;
  z-index: 1;
  padding: 7px 25px 7px 25px;
  background-color: rgba(36, 35, 35, 0.7);
  color: white;
  border-radius: 10px;
  width: fit-content;

  font-weight: 200;
}

.single-news-container h3 {
  margin-top: 3.5rem;
  font-size: 1.5rem;
}

.single-news-container p {
  margin-top: 0rem;
  font-size: 1.2rem;
  max-width: 65vw;
  max-height: 150px;
}

.prev-button2,
.next-button2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
  margin-top: 5px;
}

.prev-button2 {
  margin-right: 100px;
}

.next-button2 {
  margin-left: 100px;
}

.prev-button2:hover,
.next-button2:hover {
  filter: brightness(0.3);
}

.button-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-container2 p {
  font-size: 1rem;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .single-news-container {
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .single-news-container p {
    display: none;
  }

  .single-news-container h3 {
    margin-top: 1rem;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 450px) {
  .single-news-container {
    width: 300px;
    height: 180px;
  }
  .single-news-container h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
