.news {
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: white;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -1rem;
  list-style: none;
}

.newsCategory {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  margin-top: 18px;
  margin-left: 15px;
  font-size: 1.5rem;
}

.newsTitle h2 {
  text-align: center;
  font-size: 50px;
  margin-left: 4rem;
  margin-top: 3rem;
  max-width: 800px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.newsLikes {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.author {
  text-align: center;
  font-size: 15px;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.newsLeadIn {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 23px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.img-container {
  width: 100%;
  height: 400px;
  background-color: #f6f4ee;
  margin-bottom: 20px;
}

.photo {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;

  object-fit: cover;
}

.newsBody {
  text-align: justify;
  margin: auto;
  margin-top: 1rem;
  max-width: 80vw;
  font-size: 23px;
  flex-grow: 1;
  background-color: #f6f4ee;
  border-radius: 5px;
  padding: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user-actions ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-right: 15px;
  margin-top: 2rem;
}

.edit-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 19px;
  cursor: pointer;
}

.btt-confirm {
  justify-content: space-around;

  display: flex;
}

@media screen and (max-width: 800px) {
  .newsTitle h2 {
    text-align: center;
    font-size: 2.7rem;
    margin-left: 0;
    margin-top: 3rem;
    max-width: 320px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .newsCategory {
    margin-left: 0.2rem;
    font-size: 20px;
  }

  .newsLikes img {
    width: 15px;
  }
  .newsLikes section {
    padding-right: 0;
    gap: 1px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .newsLikes p {
    font-size: 12px;
  }
  .newsBody {
    font-size: 20px;
  }

  .newsLeadIn {
    font-size: 20px;
  }

  .photo {
    height: 300px;
  }

  .img-container {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .newsTitle h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-left: 0rem;
    margin-top: 3rem;
    max-width: 250px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .newsCategory {
    margin-left: 0.2rem;
    font-size: 13px;
  }

  .newsLikes img {
    width: 11px;
  }
  .newsLikes {
    padding-right: 0;
    gap: 1px;
  }

  .newsLikes p {
    font-size: 11px;
  }

  .newsBody {
    max-width: 80vw;
    font-size: 18px;
  }

  .newsLeadIn {
    font-size: 18px;
  }

  .photo {
    height: 250px;
  }
  .img-container {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .newsTitle h2 {
    text-align: center;
    font-size: 1.9rem;
    margin-left: 0rem;
    margin-top: 3rem;
    max-width: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .newsCategory {
    margin-left: 0;
    font-size: 11px;
    margin-right: 10px;
  }

  .newsLikes img {
    width: 11px;
  }
  .newsLikes {
    padding-right: 0;
    gap: 1px;
    margin-left: -10px;
  }

  .newsLikes p {
    font-size: 11px;
  }

  .author {
    font-size: 13px;
  }

  .photo {
    height: 200px;
  }
  .img-container {
    height: 200px;
  }

  .newsBody {
    max-width: 80vw;
    font-size: 17px;
  }

  .newsLeadIn {
    font-size: 17px;
  }
}
