.avatar-container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 32px;
}

.avatar-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container input {
  border: none;
}

.search {
  border: none;
  background-color: lightgray;
  color: gray;
  font-size: 0.9rem;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.settings p {
  font-size: 1rem;
}

.settings img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: -25px;
}

.settings:hover p {
  color: black;
}

@media screen and (max-width: 800px) {
  .avatar-container {
    display: flex;
    flex-direction: column;
  }

  .avatar-container img {
    width: 150px;
    height: 150px;
  }
}
