.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 20px;
  border-radius: 5px;
}
.modal h3,
.modal p {
  font-family: 'League Gothic', sans-serif;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
