.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 260px;
  padding: 20px;
  border-radius: 5px;
  display: block;
  text-align: center;
}
.modal h3,
.modal p {
  font-family: 'League Gothic', sans-serif;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
