@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.app {
  text-align: center;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
}
