.block-container {
  width: 55vw;
  margin: 0 auto;
}

.border-container {
  border: 1px solid lightgray;
  padding: 13px;
  border-radius: 4px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.3);
}

@media screen and (max-width: 768px) {
  .block-container {
    width: 65vw;
  }
}

@media screen and (max-width: 520px) {
  .block-container {
    width: 90vw;
  }
}
